# see src/config.rs for all options and descriptions

mongodb_uri = 'mongodb://REPLACEME'

# packets per second
rate = 100_000
# sleeps after each scan so slow responses don't get attributed to the wrong mode, or so if you're
# switching protocols (like if you have fingerprinting enabled) you can use this to avoid responses
# appearing from the previous protocol.
# if you're always in the same protocol (like how this example config is by default) then you can
# safely set it to 0 and it probably won't cause issues
sleep_secs = 10

# if you want to use more source ports then uncomment this:
# source_port = { min = 61000, max = 65535 }
# and run `iptables -A INPUT -p tcp --dport 61000:65535 -j DROP`

[target]
addr = "matscan"
port = 1337
protocol_version = 47

[scanner]
enabled = true

[rescan]
enabled = true
rescan_every_secs = 3600

[rescan2]
enabled = false
rescan_every_secs = 600
limit = 10_000
[rescan2.filter]
'minecraft.players.online' = { '$gte' = 1 }
'minecraft.players.sample' = { '$exists' = true, '$ne' = [] }

[fingerprinting]
enabled = false

[snipe]
enabled = false
webhook_url = 'https://discord.com/api/webhooks/REPLACEME'
usernames = []
